<h2>New comment</h2>

<%= form_for @comment do |f| %>
	<p>
		<%= f.label :comment_details %>
		<div class="darken_text"><%= f.text_field :comment_details %></div>
	</p>
	<button class="btn btn-success">Post comment</button>
<% end %>

<!-- Note this page is no longer needed - this code has been added to the Show Car page instead -->