<h2>Car Move</h2>

<h3>Please select a car to move into the garage</h3>

<%= form_tag do %>
<%= collection_radio_buttons :car, :car_ids, @current_user.cars, :id, :make %>
<%= hidden_field_tag :garage_id, @garage.id, :name => 'car[garage_id]' %>
<button>Select</button>
<% end %>
