<h2>About Car Garage</h2>

<p>Here is a web app that allows you to post details of your cars to share with others. You can put up photos and technical details of your cars, create and manipulate garages to put your cars into (analogous to photo albums) as well as gain access to detailed technical information about popular car makes and models to assist you in comlpeting your car entries.</p>