<h2>My Cars</h2>

<p>Click on a car to view its details</p>

<% @cars.each do |car| %>
	<p><h3><a href="<%= car_path(car) %>"><%= car.name %></a></h3></p>
	<p><%= car.primary_picture %></p>
	<p><img src="<%= car.primary_picture %>" alt=""></p>
<% end %>