<h2>My Cars</h2>

<% if @cars.first %>
	<p>Click on a car to view its details</p>
<% end %>

<% if @cars.first %>
	<% @cars.each do |car| %>
		<div class="size1"><a href="<%= car_path(car) %>"><img src="<%= car.primary_picture %>"></a></div>
	<% end %>
<% else %>
		<p>You do not have any cars yet</p>
		<button class="btn btn-success btn-lg"><%= link_to 'New Car', new_car_path %></button>
<% end %>
